* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
    font-family: 'Raleway', sans-serif;
}

body {
    background: black;
    font-family: 'Raleway', Sans-serif;
    color: white;
    min-height: 100vh;
} 

.showcase {
      display: flex;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-weight: 100;
      z-index: 800;
      position: absolute bottom;
      margin-top: 40px;
      min-height: 95vh;
    }

      .showcase header {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 998;
        }
        .logolight {
            font-weight: lighter;
            color: white;
            margin-left: 1.5em;
            font-size: 1em;
            z-index: 1000;
          }
          .logo {
              color: white;
              margin-top: 1em;
              margin-left: 1em;
          }
          .showcase video {
              position: absolute;
              top:0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
              z-index: 1;
            }

            #footer {
                position: fixed;
                bottom: 0;
                color: rgb(87, 87, 87);
                font-size: smaller;
                z-index: 900;
                padding-left: 50px;
                z-index: 400; 
                margin-left: 900px; 
                float: right;           
}

.vertical-menu {
    width: 200px;
    position: fixed;
    bottom: 0;
    z-index: 300;
    margin-left: 5px;
  }
  
  .vertical-menu a {
    background-color: black; /* Grey background color */
    color: white; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 20px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: black; /* Add a green color to the "active/current" link */
    color: rgb(105, 104, 104);
  }